<%-include('./partials/header')%>
<%-include('./partials/navbar')%>
<%-include('./partials/flash')%>

<div class="alert alert-danger" role="alert" style="margin-top: 120px;">
    <%=err%>
</div>

<%-include('./partials/footer')%>